{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "menu.html" %} 
    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">Nossos Clientes</h2>

            <div class="container">
                <div class="columns">
                  <div class="column">
                      <div class="card">
                    <div class="card-image">
                      <figure class="image is-5by4">
                        <img src="/static/imgs/assembleia.jpg">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-32x32">
                            <img src="/static/imgs/assembleia.jpg" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="media-content">
                          <p class="title is-4">John Smith</p>
                          <p class="subtitle is-6">@johnsmith</p>
                        </div>
                      </div>
                  
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      </div>
                    </div>
                  </div></div>
                  <div class="column">
                      <div class="card">
                    <div class="card-image">
                      <figure class="image is-5by4">
                        <img src="/static/imgs/ineuron.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-48x48">
                            <img src="/static/imgs/ineuron.png" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="media-content">
                          <p class="title is-4">John Smith</p>
                          <p class="subtitle is-6">@johnsmith</p>
                        </div>
                      </div>
                  
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      </div>
                    </div>
                  </div></div>
                  <div class="column"></div>
                </div>
            </div>


        </div>
    </section>
    {% endblock %}