{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "menu.html" %}

<body>
<section class="herodata is-info">
    <div class="hero-body ">
            <div class="container">
            <h1 class="title has-text-white ">
            Data Science
            </h1>
            <h2 class="subtitle has-text-white">
            Transformamos seus dados em informação.
            </h2>
            </div>
    </div>
</section>
<section class="section">
  <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-half">
                    <figure class="image is-128x128">
                        <div id="loader-wrapper">
                          <div class="atom-loader" style=" width:200px; height:200px;">
                              <div class="atom-loader-inner atom-one"></div>
                              <div class="atom-loader-inner atom-two"></div>
                              <div class="atom-loader-inner atom-three"></div>
                            </div>
                          </div>
                    </figure>
            </div>
            <div class="column is-half">
                <div class="content is-medium">
                Ciência de dados (em inglês: data science) é uma área interdisciplinar voltada para o estudo e a análise de dados, estruturados ou não, que visa a extração de conhecimento ou insights para possíveis tomadas de decisão, de maneira similar à mineração de dados. Ciência de dados alia big data e machine learning, além de técnicas de outras áreas interdisciplinares como estatística, economia, engenharia e outros subcampos da computação como: banco de dados e análise de agrupamentos (cluster analysis). A ciência de dados é um campo que já existe há 30 anos, porém ganhou mais destaque nos últimos anos devido a alguns fatores como: o surgimento e popularização do Big Data e o desenvolvimento de áreas como o machine learning. A ciência de dados pode, por exemplo, transformar essa grande quantidade de dados brutos em insights de negócios, e com isso, auxiliar empresas em tomadas de decisões para atingir melhores resultados.[1]            </div>
            </div>
        </div>
        </div>
</section>
</body>
{% endblock %}