{% extends "base.html" %}
{% load static %}
{% block content %}
<section id='1'>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img alt="" class="img-thumbnail" src="/static/imgs/estrategia.jpg">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Gestão</h2>
          <h2 class="display-6">Crie uma estratégia para seu negócio...</h2>
          <h5>Administração estratégica é o conjunto de opções, diretrizes e valores que seus lideres determinam para a
            empresa ter um desenvolvimento ao longo prazo. Essas estratégias servem para que você se antecipe com os
            problemas que podem ocorrer durante o caminho, visa também diminuir o risco do insucesso. Elas são
            encontradas nas visões e missão de cada empresa. Alguns tipos de estratégia nas empresas é a redução de
            custos, de inovação, de expansão e internacionalização. Ser estratégico é se preparar para enfrentar e
            vencer os desafios, enxergar ameaças e oportunidades que ainda não existem. As estratégias devem estar
            alicerçadas na visão a longo prazo da organização, devem ser mapeadas as mudanças necessárias e desenvolvido
            o caminho para alcançar as mudanças a longo prazo. As mudanças são fundamentais para que possa ser gerado o
            resultado esperado pelo organização.</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section id='2' class='block-rose'>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img alt="" class="img-thumbnail" src="/static/imgs/top.jpg">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Top of Mind</h2>
          <h2 class="display-6">Coloque sua marca na mente dos seus clientes</h2>
          <h5>Top of Mind é um termo em inglês utilizado na área de marketing empresarial como
            uma maneira de qualificar as marcas que são mais populares na mente (mind em
            inglês) dos consumidores. Segundo o AllWords.com, a definição é: "a porcentagem
            de entrevistados que, sem indução, nomeiam uma marca ou produto específico
            primeiramente, ao serem perguntados sobre as propagandas que se recordam de
            certa categoria de produtos pelos 30 dias passados. Pode referir-se a:

            Folha Top of Mind - pesquisa realizada anualmente pelo instituto Datafolha, que
            premia as marcas mais lembradas pela população brasileira.
            Prêmio Top of Mind de Recursos Humanos - homenagem às empresas mais lembradas
            pelos profissionais que atuam nas áreas de recursos humanos.</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='block-green'>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img alt="" class="img-thumbnail" src="/static/imgs/planejamentoestrategico.png">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Planejamento Estratégico</h2>
          <h2 class="display-6">Planeje para fazer sua empresa expandir.</h2>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste
            esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae
            adipisci, beatae obcaecati.</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='block-purple'>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img alt="" class="img-thumbnail" src="/static/imgs/design-instrucional.jpg">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Design Instrucional</h2>
          <h2 class="display-6">Desenhamos um curso de acordo com a necessidade da sua empresa.</h2>
          <h5>Design instrucional trata de um conjunto de métodos, técnicas e recursos
            utilizados em processos de ensino-aprendizagem. O termo inglês "instructional
            design" busca capturar o mesmo significado do francês "ingénierie pédagogique".

            Esse campo de estudo trata do ensino-aprendizagem em qualquer contexto, desde o
            ensino clássico até tendências contemporâneas quanto ao uso de tecnologia,
            passando pelo treinamento individual, aplicado a empresas ou ainda militar.
            Emprega-se o design instrucional à concepção de cursos, aulas individuais e à
            construção de materiais didáticos como impressos, vídeos, softwares ou, de modo
            mais genérico, qualquer objeto de aprendizagem.

            A Business Data, através do design instrucional procura através de uma sistemática própria,
            que envolve o planejamento, o desenvolvimento e a
            utilização de métodos, técnicas, atividades, materiais, eventos e produtos
            educacionais em situações didáticas específicas, a fim de facilitar a
            aprendizagem humana a partir dos princípios de aprendizagem para seus clientes”.</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img alt="" class="img-thumbnail" src="/static/imgs/marketing.jpg">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Marketing Digital</h2>
          <h2 class="display-6">Crie um funil de vendas para seu cliente ..</h2>
          <h5>Marketing digital são ações de comunicação que as empresas podem utilizar por
            meio da internet, da telefonia celular e outros meios digitais, para assim
            divulgar e comercializar seus produtos, conquistando novos clientes e melhorando
            a sua rede de relacionamentos. Ele engloba a prática de promover produtos ou
            serviços pela utilização de canais de distribuição eletrônicos, para então
            chegar aos consumidores rapidamente de forma relevante, personalizada e com mais
            eficiência.

            O e-marketing ou marketing eletrônico baseia-se na utilização das tecnologias de
            informação e comunicação (TIC) no processo de criação, comunicação e
            fornecimento de valor aos clientes e aos seus stakeholders (públicos-alvo),
            dados demográficos de pessoas que são mais propensas a mostrar interesse em um
            produto ou serviço.

            Com o marketing aplicado ao meio digital um novo consumidor surgiu: o consumidor
            2.0. Este gênero de consumidor é um ser exigente, informado, atento, e que
            procura sempre registros que lhe possibilitem saber mais antes de sair do
            conforto de sua casa. A troca de ideias com outros consumidores também é
            natural.</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img alt="" class="img-thumbnail" src="/static/imgs/datascience.png">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Data Science</h2>
          <h2 class="display-6">Transformamos seus dados em informação.</h2>
          <h5>A Business Data Consultoria busca através da ciência de dados (em inglês: data science) que é uma área
            interdisciplinar voltada para o estudo e a análise de
            dados, estruturados ou não, auxiliar seus clientes na busca da extração de conhecimento ou insights para
            possíveis tomadas de
            decisão, de maneira similar à mineração de dados.
            A Ciência de dados alia big data e machine learning, além de técnicas de outras áreas interdisciplinares
            como
            estatística, economia, engenharia e outros subcampos da
            computação como: banco de dados e análise de agrupamentos (cluster analysis).
            A ciência de dados é um campo que já existe há 30 anos, porém ganhou mais destaque nos últimos anos devido
            a
            alguns fatores como: o
            surgimento e popularização do Big Data e o desenvolvimento de áreas como o machine learning.
            A ciência de dados pode, por exemplo, transformar essa grande quantidade de dados brutos em insights de
            negócios, e com
            isso, auxiliar empresas em tomadas de decisões para atingir melhores resultados.</h5>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}