{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "menu.html" %}
<body>
<section class="herodesign is-info">
                <div class="hero-body ">
                        <div class="container">
                        <h1 class="title has-text-white ">
                        Design Instrucional
                        </h1>
                        <h2 class="subtitle has-text-white">
                        Desenhamos um curso de acordo com a necessidade da sua empresa.
                        </h2>
                        </div>
                </div>
</section>
        <section class="section">
                <div class="container">
                        <div class="columns is-vcentered">
                            <div class="column is-half">
                                    <figure class="image is-128x128">
                                            <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </figure>
                            </div>
                            <div class="column is-half">
                                <div class="content is-medium">
                                        Design instrucional ou projeto instrucional é o termo comumente usado em português para se referir à engenharia pedagógica.
                    
                                        A engenharia pedagógica trata do conjunto de métodos, técnicas e recursos utilizados em processos de ensino-aprendizagem.[1] O termo inglês "instructional design" busca capturar o mesmo significado do francês "ingénierie pédagogique".
                                        
                                        Esse campo de estudo trata do ensino-aprendizagem em qualquer contexto, desde o ensino clássico até tendências contemporâneas quanto ao uso de tecnologia, passando pelo treinamento individual, aplicado a empresas ou ainda militar. Emprega-se o design instrucional à concepção de cursos, aulas individuais e à construção de materiais didáticos como impressos, vídeos, softwares ou, de modo mais genérico, qualquer objeto de aprendizagem.
                                        
                                        De acordo com FILATRO[2], o design instrucional corresponde à “ação intencional e sistemática de ensino, que envolve o planejamento, o desenvolvimento e a utilização de métodos, técnicas, atividades, materiais, eventos e produtos educacionais em situações didáticas específicas, a fim de facilitar a aprendizagem humana a partir dos princípios de aprendizagem e instrução conhecidos”.           </div>
                            </div>
                        </div>
                        </div>
        </section>
</body>
{% endblock %}