{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="heroempresa is-large">
        <div class="hero-body">
                <div class="container">
                        <div class="columns  has-text-right">
                                <div class="column">
                                        <img src="{% static 'imgs/logo.svg' %}" width="200px">
                                </div>
                                <div class="column  has-text-right ">
                                        <h1 class="title">Business Data Consultoria LTDA.</h1>
                                        <h2 class="subtitle">Gestão empresarial Inovadora e Criativa.</h2>
                                </div>
                        </div>
                </div>
        </div>
</section>

<section class="section">
        <div class="container">
                <div class="columns is-desktop">
                        <div class="column">
                                <figure><img src="https://picsum.photos/800/600/?random" width="480" height="480" alt="Description"></figure>
                        </div>
                        <div class="column">
                                <title> Visão da Empresa</title>
                                <h1 class="title">Visão da Empresa</h1>
                                <h2 class="subtitle">Desenvolver soluções de gestão para nossos clientes e auxiliar na
                                        excelência em seus negócios.</h2>
                        </div>
                </div>
        </div>
</section>
{% endblock %}