{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="heroempresa is-primary is-medium">
        <div class="hero-body">
                <div class="container">
                        <h1 class="title">
                                <br>
                        </h1>
                        <h2 class="subtitle">
                                <br>
                        </h2>
                </div>
        </div>
</section>

<section class="section">
        <div class="container">
                <div class="columns">
                        <div class="column is-one-quarter">
                                <figure><img src="{% static 'imgs/logo.svg' %}" width="200px"></figure>
                        </div>
                        <div class="column is-two-thirds">
                                <h1 class="title">Business Data Consultoria LTDA.</h1>
                                <h2 class="subtitle">Gestão empresarial Inovadora e Criativa.</h2>
                                <title> Visão da Empresa</title>
                                <h1 class="title">Visão da Empresa</h1>
                                <h2 class="subtitle">Desenvolver soluções de gestão para nossos clientes e auxiliar na
                                        excelência em seus negócios.</h2>
                        </div>
                </div>
        </div>
</section>
{% endblock %}