{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "menu.html" %} 

<section class="section">
        <div class="container has-text-centered">
            <h2 class="title">A equipe</h2>
            <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        </div>
        </div>
    </section>
<div class="container">

    <div class="section">
        <!-- Developers -->
        <div class="row columns">
            <div class="column is-one-third">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://images.unsplash.com/photo-1475778057357-d35f37fa89dd?dpr=1&auto=compress,format&fit=crop&w=1920&h=&q=80&cs=tinysrgb&crop=" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="https://i.imgsafe.org/a4/a4bb9acc5e.jpeg" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4 no-padding">Evanildo de Jeusus</p>
                                <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                                <p class="subtitle is-6">Lead Developer</p>
                            </div>
                        </div>
                        <div class="content">
                            The Beast stumbled in the dark for it could no longer see the path. It started to fracture and weaken, trying to reshape itself into the form of metal. Even the witches would no longer lay eyes upon it, for it had become hideous and twisted.
                            <div class="background-icon"><span class="icon-twitter"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://source.unsplash.com/uzDLtlPY8kQ" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="https://cdn.discordapp.com/avatars/244932903530659841/0c924a19fcf1b5c59bc9dc1b58b61bb0.jpg?size=1024" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4 no-padding">Elisângela Rocha</p>
                                <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                                <p class="subtitle is-6">Developer</p>
                            </div>
                        </div>
                        <div class="content">
                            The soul of the Beast seemed lost forever. Then, by the full moon's light, a child was born; child with the unbridled soul of the Beast that would make all others pale in comparison.
                            <div class="background-icon"><span class="icon-facebook"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  {% endblock %}