{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="section">
    <div class="container has-text-centered">
        <h2 class="title">A equipe</h2>
        <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est
            laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>
    </div>
</section>
<div class="container">
    <div class="section">
        <!-- Developers -->
        <div class="row columns">
            <div class="column is-one-third">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="https://www.american.edu/programs/shared/data-science/images/datascience-og.jpg"
                                alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="https://scontent.fthe2-1.fna.fbcdn.net/v/t1.0-1/p160x160/25994889_2034456156583686_8151764314904751560_n.jpg?_nc_cat=106&_nc_ht=scontent.fthe2-1.fna&oh=3ae9fad0bb1c16d308fef67f8a0fcdd5&oe=5D2A2BF0"
                                        alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4 no-padding">Elisângela Rocha</p>
                                <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                                <p class="subtitle is-6">Data Science/CEO</p>
                            </div>
                        </div>
                        <div class="content">
                            The Beast stumbled in the dark for it could no longer see the path. It started to fracture
                            and weaken, trying to reshape itself into the form of metal. Even the witches would no
                            longer lay eyes upon it, for it had become hideous and twisted.
                            <div class="background-icon"><span class="icon-twitter"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="https://sisgraos.com.br/wp-content/uploads/2018/11/1_EE4IrlniNAhubIUrFqV3FQ.jpeg"
                                alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="https://media.licdn.com/dms/image/C4E03AQEXYMRZP3nb0A/profile-displayphoto-shrink_200_200/0?e=1562198400&v=beta&t=CjwdmcbWItuRQYzfUaYNWOriFd0g-ciMWabMcTHtqZA"
                                        alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4 no-padding">Eneylton Barros</p>
                                <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                                <p class="subtitle is-6">Desenvolvedor</p>
                            </div>
                        </div>
                        <div class="content">
                            The soul of the Beast seemed lost forever. Then, by the full moon's light, a child was born;
                            child with the unbridled soul of the Beast that would make all others pale in comparison.
                            <div class="background-icon"><span class="icon-facebook"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="https://cdn.admissiontable.com/wp-content/uploads/machine_learning_data_science-1.png"
                                alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="https://scontent.fthe2-1.fna.fbcdn.net/v/t1.0-9/19437200_1910427919217624_8204156474379768685_n.jpg?_nc_cat=111&_nc_ht=scontent.fthe2-1.fna&oh=2717f877c961e46d1dfef6226ea3df92&oe=5D6ADE78"
                                        alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4 no-padding">Evanildo de Jesus</p>
                                <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                                <p class="subtitle is-6">Data Science/CEO</p>
                            </div>
                        </div>
                        <div class="content">
                            The soul of the Beast seemed lost forever. Then, by the full moon's light, a child was born;
                            child with the unbridled soul of the Beast that would make all others pale in comparison.
                            <div class="background-icon"><span class="icon-facebook"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}