{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="herogestao is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white">
        Gestão Empresarial
      </h1>
      <h2 class="subtitle has-text-white">
        Assessoria em Administração
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half">
        <figure class="image is-128x128">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>
      <div class="column is-half">
        <div class="content is-medium">
          <p>Administração estratégica é o conjunto de opções, diretrizes e valores que seus lideres determinam para a
            empresa ter um desenvolvimento ao longo prazo. Essas estratégias servem para que você se antecipe com os
            problemas que podem ocorrer durante o caminho, visa também diminuir o risco do insucesso. Elas são
            encontradas nas visões e missão de cada empresa. Alguns tipos de estratégia nas empresas é a redução de
            custos, de inovação, de expansão e internacionalização. Ser estratégico é se preparar para enfrentar e
            vencer os desafios, enxergar ameaças e oportunidades que ainda não existem.
            As estratégias devem estar alicerçadas na visão a longo prazo da organização, devem ser mapeadas as mudanças
            necessárias e desenvolvido o caminho para alcançar as mudanças a longo prazo. As mudanças são fundamentais
            para que possa ser gerado o resultado esperado pelo organização.</p>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
{% endblock %}