{% extends "base.html" %} {% load static %} {% block content %}
<div class="level"></div>
<section class='section'>
    <div class="hero-body">
        <div class="level"></div>
        <div class="container ">
            <div class="columns is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd ">
                <div class="column ">
                    <h1 class="title is-1">Use a inteligência a favor do seu negócio.</h1>
                    <h2 class="title is-3">Soluções criativas e inovadoras para nossos clientes.</h2>
                    <a href="{% url 'empresa' %} " class="button is-link is-rounded">Saiba mais</a>
                </div>
                <div class="column ">
                    <figure class="image is-4by3 ">
                        <img src="/static/imgs/21430.svg ">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero is-info is-medium bloco2">
    <div class="hero-body">
        <div class="container ">
            <div class="columns is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd ">
                <div class="column is-6 ">
                    <h1 class="title is-3 ">
                        Negócios inteligentes usam e abusam das informações e faz com que seus serviços e produtos se destaquem no mercado.
                    </h1>
                    <h2 class="subtitle ">
                        <a href="{% url 'empresa' %} " class="button is-rounded ">Saiba mais</a>
                    </h2>
                </div>
                <div class="column is-6">
                    <p class="bd-notification is-primary ">
                        <h1 class="title is-1 has-text-centered ">Expertise</h1>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class='section'>
    <div class='container'>
        <div class="row columns is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd ">
            <div class="column is-one-third ">
                <div class="card ">
                    <div class="card-image ">
                        <figure class="image is-4by3 ">
                            <img src="/static/imgs/bloco.png " alt="Placeholder image ">
                        </figure>
                    </div>
                    <div class="card-content ">
                        <div class="media ">
                            <div class="media-content ">
                                <p class="title is-4 ">Consultoria Empresarial</p>
                                <p class="subtitle is-6 ">@business</p>
                            </div>
                        </div>

                        <div class="content ">
                            Visa proporcionar à empresa as condições necessárias para o desenvolvimento e aprimoramento de modo que seu desempenho atinja níveis satisfatórios de eficiência e eficácia
                            <br>
                            <br>
                            <a href="{% url 'empresa' %} "><button class="button is-info is-rounded "> Saiba
                                    mais</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third ">
                <div class="card ">
                    <div class="card-image ">
                        <figure class="image is-4by3 ">
                            <img src="/static/imgs/bloco2.png " alt="Placeholder image ">
                        </figure>
                    </div>
                    <div class="card-content ">
                        <div class="media ">
                            <div class="media-content ">
                                <p class="title is-4 ">Data Science</p>
                                <p class="subtitle is-6 ">@data</p>
                            </div>
                        </div>

                        <div class="content ">
                            Empresas inteligentes usam e abusam do data science. Utilizar as informações de forma sábia, faz com que a sua empresa se destaque no mercado.
                            <span class="tag is-info ">data</span>.
                            <a href="# ">#dados</a> <a href="# ">#datascience</a>
                            <br>
                            <br>
                            <div></div>
                            <a href="{% url 'empresa' %} "><button class="button is-danger is-rounded "> Saiba
                                    mais</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third ">
                <div class="card ">
                    <div class="card-image ">
                        <figure class="image is-4by3 ">
                            <img src="/static/imgs/bloco4.png " alt="Placeholder image ">
                        </figure>
                    </div>
                    <div class="card-content ">
                        <div class="media ">
                            <div class="media-content ">
                                <p class="title is-4 ">Marketing Digital</p>
                                <p class="subtitle is-6 ">@bdata</p>
                            </div>
                        </div>
                        <div class="content ">
                            Com o marketing digital sua empresa pode desenvolver um funil de vendas personalizado atraindo potenciais clientes para seu negócio.
                            <a>@data</a>.
                            <a href="# ">#marketing</a> <a href="# ">#digital</a>
                            <br>
                            <br>
                            <a href="{% url 'empresa' %} "><button class="button is-success is-rounded "> Saiba
                                    mais</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero is-info is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd ">
                <div class="column is-6 ">
                    <h1 class="title has-text-black">Como o marketing digital da sua empresa pode desenvolver um funil de vendas personalizado atraindo potenciais clientes para seu negócio. </h1>
                </div>
                <div>
                    <h2 class="subtitle">

                    </h2>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}