{% extends "base.html" %} {% load static %} {% block content %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop">
                    <figure class="box image is-16by9">
                        <img src="https://picsum.photos/800/600/?random" alt="Description">
                    </figure>
                </div>
                <div class="column is-medium">
                    <h1 class="title is-2">NEGÓCIOS INTELIGENTES É COM A DATA BUSINESS CONSULTORIA</h1>
                    <h2 class="title is-4">Desenvolver soluções de gestão para nossos clientes e auxiliar na excelência
                        em seus negócios.</h2>
                    <p></p>
                    <a class="button is-danger is-outlined">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class='section-padding-large'>
    <div class='container'>
        <div class="row columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/static/imgs/bloco.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">John Smith</p>
                                <p class="subtitle is-6">@johnsmith</p>
                            </div>
                        </div>

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            <a>@bulmaio</a>.
                            <a href="#">#css</a> <a href="#">#responsive</a>
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/static/imgs/bloco2.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">John Smith</p>
                                <p class="subtitle is-6">@johnsmith</p>
                            </div>
                        </div>

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            <a>@bulmaio</a>.
                            <a href="#">#css</a> <a href="#">#responsive</a>
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/static/imgs/bloco4.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">John Smith</p>
                                <p class="subtitle is-6">@johnsmith</p>
                            </div>
                        </div>

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            <a>@bulmaio</a>.
                            <a href="#">#css</a> <a href="#">#responsive</a>
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section has-background-white-ter">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class='has-text-centered'>
                    <img src="/static/imgs/diagram.svg" width="100" height="100"></img>
                    <div class="media-content has-text-centered">
                        <h3 class="title"><a href="/" class="has-text-dark" title="">Gestão Empresarial</a></h3>
                        <p class="title is-5 has-text-weight-bold">O poder da <strong>gestão</strong> aplicado a sua
                            empresa.</p>
                        <div><a class="button is-info is-outlined" href="{% url 'gestao' %}">Saiba mais</a></div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class='has-text-centered'>
                    <img src="/static/imgs/target.svg" width="100" height="100"></img>
                    <div class="media-content has-text-centered">
                        <h3 class="title"><a href="/" class="has-text-dark" title="">Top of Mind</a></h3>
                        <p class="title is-5 has-text-weight-bold"> A <strong>marca</strong> da sua empresa na cabeça
                            das pessoas.</p>

                        <div><a class="button is-info is-outlined" href="{% url 'top' %}">Saiba mais</a></div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class='has-text-centered'>
                    <img src="/static/imgs/advertising.svg" width="100" height="100"></img>
                    <div class="media-content has-text-centered">
                        <h3 class="title"><a href="/" class="has-text-dark" title="">Marketing Digital</a></h3>
                        <p class="title is-5 has-text-weight-bold"> Criação de um <strong>funil</strong> de vendas para
                            sua empresa.</p>

                        <div><a class="button is-info is-outlined" href="{% url 'marketing' %}">Saiba mais</a></div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class='has-text-centered'>
                    <img src="/static/imgs/puzzle.svg" width="100" height="100"></img>
                    <div class="media-content has-text-centered">
                        <h3 class="title"><a href="/" class="has-text-dark" title="">Planejamento Estrátegico</a></h3>
                        <p class="title is-5 has-text-weight-bold">Criar um <strong>plano</strong> para fazer sua
                            empresa expandir.</p>

                        <div><a class="button is-info is-outlined" href="{% url 'planejamento' %}">Saiba mais</a></div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class='has-text-centered'>
                    <img src="/static/imgs/pantone.svg" width="100" height="100"></img>
                    <div class="media-content has-text-centered">
                        <h3 class="title"><a href="/" class="has-text-dark" title="">Design Instrucional</a></h3>
                        <p class="title is-5 has-text-weight-bold">Desenhamos um <strong>curso</strong> de acordo com a
                            necessidade da sua empresa.</p>

                        <div><a class="button is-info is-outlined" href="{% url 'design' %}">Saiba mais</a></div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class='has-text-centered'>
                    <img src="/static/imgs/database.svg" width="100" height="100"></img>
                    <div class="media-content has-text-centered">
                        <h3 class="title"><a href="/" class="has-text-dark" title="">Data Science</a></h3>
                        <p class="title is-5 has-text-weight-bold">Transformamos seus dados em
                            <strong>informação</strong> para auxiliar nas decisões da empresa.</p>
                        <div><a class="button is-info is-outlined" href="{% url 'data' %}">Saiba mais</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="columns">
            <div class="column">
                <img src="/static/imgs/back.jpg" alt="">
            </div>
            <div class="column">
                <h1 class="title">
                    Qual o seu melhor email ?
                </h1>
                <h2 class="title">Perfeito para sua empresa!</h2><br>
                <div class="box">
                    <form method="post">
                        {% csrf_token %}
                        {% for form in form %}
                        {{ form.as_p }}
                        {% endfor %}
                        <br>
                        <button class="button is-success" type="submit" value="Salvar">Salvar</button>
                    </form>
<!--                    <form method="POST">-->
<!--                        {% csrf_token %}-->
<!--                            <p>Nome: <input class=" input is-primary" type="text" name="nome" maxlength="30" required> <span class="helptext">100-->
<!--                                    characters max.</span></p>-->
<!--                            <p>Sobrenome: <input class="input is-primary" type="text" name="sobrenome" maxlength="30" required></p>-->
<!--                            <p>Cpf: <input class="input is-primary" type="text" name="cpf" maxlength="11" required></p>-->
<!--                            <p>Telefone: <input class="input is-primary" type="text" name="telefone" maxlength="11" required></p>-->
<!--                            <p>email: <input class="input is-primary" type="text" name="email" required> A valid email address, please.</p>-->
<!--                            <input class="button is-primary is-rounded" type="submit" value="Submeter">-->
<!--                    </form>-->
                </div>
                <p class="has-text-centered">
                    <span class="tag is-danger">Atenção</span> Não somos fãs de spam, seu e-mail estará seguro conosco
                    pois só vamos usar para entrar em contato ou lhe informar sobre as novidades.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}