{% extends "base.html" %} {% load static %} {% block content %}
<div class="section block-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <h1>Use a inteligência a favor do seu negócio.</h1>
                <p class="lead font-weight-normal">Soluções criativas e inovadoras para nossos clientes.</p>
                <a class="btn btn-outline-primary" href="{% url 'land' %}">Leia mais</a>
            </div>
            <div class="col py-3 px-md-5">{% include "animations.html" %}</div>
        </div>
    </div>
</div>
<div class="section block-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <h1>Negócios inteligentes usam e abusam das informações e faz com que seus serviços e produtos se
                    destaquem no mercado.
                </h1>
                <h2 class="subtitle ">
                    <a class="btn btn-outline-primary" href="{% url 'land' %}" href="#">Leia mais</a>
                </h2>
            </div>
            <div class="col py-3 px-md-5">
                <p class="bd-notification is-danger">
                <h1 class="title is-1 has-text-centered ">Expertise</h1>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section block-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="card-deck">
                    <div class="card">
                        <img alt="Imagem de capa do card" class="card-img-top" src="/static/imgs/bloco.png/">
                        <div class="card-body">
                            <h5 class="card-title">Consultoria Empresarial</h5>
                            <p class="card-text">Visa proporcionar à empresa as condições necessárias para o
                                desenvolvimento e
                                aprimoramento de modo que seu desempenho atinja níveis satisfatórios de eficiência e
                                eficácia</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Atualizados 3 minutos atrás</small>
                        </div>
                    </div>
                    <div class="card">
                        <img alt="Imagem de capa do card" class="card-img-top" src="/static/imgs/bloco2.png">
                        <div class="card-body">
                            <h5 class="card-title">Data Science</h5>
                            <p class="card-text">Empresas inteligentes usam e abusam do data science. Utilizar as
                                informações de forma
                                sábia, faz com que a sua empresa se destaque no mercado.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Atualizados 3 minutos atrás</small>
                        </div>
                    </div>
                    <div class="card">
                        <img alt="Imagem de capa do card" class="card-img-top" src="/static/imgs/bloco4.png">
                        <div class="card-body">
                            <h5 class="card-title">Marketing Digital</h5>
                            <p class="card-text">Com o marketing digital sua empresa pode desenvolver um funil de vendas
                                personalizado
                                atraindo potenciais clientes para seu negócio.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Atualizados 3 minutos atrás</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}