{% extends "base.html" %} {% load static %} {% block content %}
<section class="hero is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline is-centered cards-conytainer">
                <div class="columns">
                    <div class="column">
                        <div class="column is-narrow">
                            <h1 class="title is-1">
                                Você gostaria de transformar seu negócio com inteligência?
                            </h1>
                            <h1 class="title is-2">Ser estratégico é se preparar para enfrentar e vencer desafios, enxergar ameaças e as oportunidades que ainda não existem. Ter uma visão a longo prazo da organização deve ser o melhor caminho para alcançar a excelência. </h1>
                            <br>
                        </div>
                    </div>
                    <div class="column">
                        <div class="column is-narrow">
                            <figure class="image is-16by9 is-640x360">
                                <img src="/static/imgs/target.svg">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="columns is-multiline is-centered cards-conytainer" id="sectioncontainer">
                <div class="columns">
                    <div class="column">
                        <div class="column is-narrow">
                            <h1 class="title is-3">
                                Nós queremos ajudar o seu negócio. O mundo está digital, tudo está acontecendo a uma velocidade que não compreendemos ainda. Mas todo negócio continua sendo igual como seria um negócio na antiguidade. Oferta e demanda. Vendas. Porém antes de tornar seu
                                negócio uma máquina de vendas, você precisa entender se o mesmo é sustentável. Se seus colaboradores entendem o seu motivo e o da sua empresa para estar no mercado. É nesse momento que entramos na sua vida, ajudando você
                                através das informações que você já tem a encontrar uma estratégia vencedora, personalizada com suas necessidades e consistente com que o mercado precisa. É essa combinação de trabalho duro, foco e agilidade que compõe
                                nossa consultoria.
                                <br>
                        </div>
                    </div>
                    <div class="column">
                        <div class="column is-narrow">
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Text input">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Username</label>
                                <div class="control has-icons-left
                                        has-icons-right">
                                    <input class="input is-success" type="text" placeholder="Text input" value="bulma">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </div>
                                <p class="help is-success">This username is available
                                </p>
                            </div>

                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control has-icons-left
                                        has-icons-right">
                                    <input class="input is-danger" type="email" placeholder="Email
                                            input" value="hello@">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas
                                                fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                                <p class="help is-danger">This email is invalid
                                </p>
                            </div>

                            <div class="field">
                                <label class="label">Subject</label>
                                <div class="control">
                                    <div class="select">
                                        <select>
                                            <option>Select dropdown</option>
                                            <option>With options</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Message</label>
                                <div class="control">
                                    <textarea class="textarea" placeholder="Textarea"></textarea>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        I agree to the <a href="#">terms and
                                            conditions</a>
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="question">
                                        Yes
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="question">
                                        No
                                    </label>
                                </div>
                            </div>

                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link">Submit</button>
                                </div>
                                <div class="control">
                                    <button class="button is-link is-light">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock %}