{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="heromark is-info">
        <div class="hero-body ">
                <div class="container">
                        <h1 class="title has-text-white ">
                                Marketing Digital
                        </h1>
                        <h2 class="subtitle has-text-white">
                                Criação de um funil de vendas para sua empresa.
                        </h2>
                </div>
        </div>
</section>
<section class="section">
        <div class="container">
                <div class="columns is-vcentered">
                        <div class="column is-half">
                                <figure class="image is-4by4">
                                        <img src="/static/imgs/marketing.jpg">
                                </figure>
                        </div>
                        <div class="column is-half">
                                <div class="content is-medium has-text-justified">
                                        Marketing digital são ações de comunicação que as empresas podem utilizar por
                                        meio da internet, da telefonia celular e outros meios digitais, para assim
                                        divulgar e comercializar seus produtos, conquistando novos clientes e melhorando
                                        a sua rede de relacionamentos. Ele engloba a prática de promover produtos ou
                                        serviços pela utilização de canais de distribuição eletrônicos, para então
                                        chegar aos consumidores rapidamente de forma relevante, personalizada e com mais
                                        eficiência.

                                        Segundo Martha Carrer Cruz Gabriel, o termo "marketing digital" não existe. O
                                        que determinará o trajeto do marketing em si são as estratégias de uso de
                                        plataformas digitais ou tradicionais, sendo que a escolha por uma é definida no
                                        modo como as pessoas as utilizam.

                                        O e-marketing ou marketing eletrônico baseia-se na utilização das tecnologias de
                                        informação e comunicação (TIC) no processo de criação, comunicação e
                                        fornecimento de valor aos clientes e aos seus stakeholders (públicos-alvo),
                                        dados demográficos de pessoas que são mais propensas a mostrar interesse em um
                                        produto ou serviço.

                                        Com o marketing aplicado ao meio digital um novo consumidor surgiu: o consumidor
                                        2.0. Este gênero de consumidor é um ser exigente, informado, atento, e que
                                        procura sempre registros que lhe possibilitem saber mais antes de sair do
                                        conforto de sua casa. A troca de ideias com outros consumidores também é
                                        natural. </div>
                        </div>
                </div>
        </div>
</section>
{% endblock %}