{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="heromark is-info">
        <div class="hero-body ">
                <div class="container">
                        <h1 class="title has-text-white ">
                                Marketing Digital
                        </h1>
                        <h2 class="subtitle has-text-white">
                                Criação de um funil de vendas para sua empresa.
                        </h2>
                </div>
        </div>
</section>
<section class="section">
        <div class="container">
                <div class="columns is-vcentered">
                        <div class="column is-half">
                                <figure class="image is-128x128">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                </figure>
                        </div>
                        <div class="column is-half">
                                <div class="content is-medium">
                                        Marketing digital são ações de comunicação que as empresas podem utilizar por
                                        meio da internet, da telefonia celular e outros meios digitais, para assim
                                        divulgar e comercializar seus produtos, conquistando novos clientes e melhorando
                                        a sua rede de relacionamentos. Ele engloba a prática de promover produtos ou
                                        serviços pela utilização de canais de distribuição eletrônicos, para então
                                        chegar aos consumidores rapidamente de forma relevante, personalizada e com mais
                                        eficiência.[1]

                                        Esse tipo de marketing traduz-se em ações adaptadas aos meios digitais, de forma
                                        a obter, nestes canais, a mesma eficiência e eficácia do marketing direto e,
                                        simultaneamente, potencializar os efeitos do marketing tradicional. Na sua
                                        operacionalização são, normalmente, utilizados canais, meios e ferramentas
                                        digitais.

                                        Segundo Martha Carrer Cruz Gabriel, o termo "marketing digital" não existe. O
                                        que determinará o trajeto do marketing em si são as estratégias de uso de
                                        plataformas digitais ou tradicionais, sendo que a escolha por uma é definida no
                                        modo como as pessoas as utilizam.[2]

                                        Toda a construção de um plano de ação se inicia com uma visão, e, junto a ela,
                                        um objetivo a ser alcançado. A partir deste traço são definidos os meios a serem
                                        utilizados, para enfim atingir os resultados. O tratamento singular a cada
                                        cliente é o segredo para que a escolha de um plano de ação seja de fato
                                        apropriada, somente o conhecer de um cliente ou projeto em questão fará com que
                                        os esforços de mídia potencializem o trabalho de marketing, o tornando assim
                                        digital.[1]

                                        Um exemplo de sucesso é o Facebook que conquistou rapidamente o público e em
                                        pouco tempo ultrapassou os concorrentes. A chave foi a simplicidade, a rapidez
                                        de execução e a liberdade que o usuário tem ao manusear as suas funções. O uso
                                        da rede fez tanto sucesso, que as empresas passaram a investir na criação de um
                                        ambiente de comunicação com o cliente, permitindo que criassem uma página de
                                        negócios, as fan pages.

                                        O e-marketing ou marketing eletrônico baseia-se na utilização das tecnologias de
                                        informação e comunicação (TIC) no processo de criação, comunicação e
                                        fornecimento de valor aos clientes e aos seus stakeholders (públicos-alvo),
                                        dados demográficos de pessoas que são mais propensas a mostrar interesse em um
                                        produto ou serviço.

                                        e na gestão das relações com os clientes, de modo a beneficiar a organização e
                                        os seus stakeholders (públicos-alvo). Público-alvo são os dados demográficos de
                                        pessoas que são mais propensos a mostrar interesse em seu produto ou serviço.

                                        Com o marketing aplicado ao meio digital um novo consumidor surgiu: o consumidor
                                        2.0. Este gênero de consumidor é um ser exigente, informado, atento, e que
                                        procura sempre registros que lhe possibilitem saber mais antes de sair do
                                        conforto de sua casa. A troca de ideias com outros consumidores também é
                                        natural.. </div>
                        </div>
                </div>
        </div>
</section>
{% endblock %}