{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="heroplan is-info">
        <div class="hero-body ">
                <div class="container">
                        <h1 class="title has-text-white ">
                                Planejamento Estratégico
                        </h1>
                        <h2 class="subtitle has-text-white">
                                Planeje para fazer sua empresa expandir.
                        </h2>
                </div>
        </div>
</section>
<section class="section">
        <div class="container">
                <div class="columns is-vcentered">
                        <div class="column is-half">
                                <figure class="image is-5by1">
                                        <img src="/static/imgs/planejamentoestrategico.png">
                                </figure>
                        </div>
                        <div class="column is-half">
                                <div class="content is-medium has-text-justified">
                                        O Planejamento Estratégico (português brasileiro) ou Planeamento Estratégico
                                        (português europeu) é o conjunto de mecanismos sistêmicos que utiliza processos
                                        metodológicos para, dentro de um contexto, definir o estabelecimento de metas, o
                                        empreendimento de ações, a mobilização de recursos e a tomada de decisões,
                                        visando à consecução de objetivos, a fim de alcançar o sucesso.

                                        Tanto o plano, quanto a estratégia, têm muitas definições, todavia, existem
                                        algumas diferenças básicas entre as duas conceituações. Em linhas gerais, a
                                        estratégia é a síntese de uma ideia, que surge da criatividade, sendo qualquer
                                        um capaz de estabelecê-la para alcançar objetivos. Já o plano, remete a uma
                                        análise fundamentada em metodologia específica, requerendo conhecimento formal,
                                        tendo por objetivos a realização de projetos. 
                                        
                                        Todo o planejamento deve ter por base os recursos disponíveis, tanto de pessoal, quanto de material, para que, a
                                        partir daí, possam ser definidas as linhas de ação para a consecução dos
                                        objetivos propostos. Outro fator a ser considerado no Planejamento Estratégico é
                                        que já devem existir respostas para indagações como: o quê, como, quem, quando e
                                        onde, sendo procedido de rigorosa análise das linhas de ação propostas e da
                                        decisão sobre qual caminho seguir. Todo planejamento estratégico tem por
                                        finalidade alcançar o sucesso, que pode ser definido como conseguir o que se
                                        quer. </div>
                        </div>
                </div>
        </div>
</section>
{% endblock %}