{% extends "base.html" %} {% load static %} {% block content %}

<section class="block-purple">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1>Gestão Empresarial</h1>
                <h3>Ser estratégico é se preparar para enfrentar e vencer desafios, enxergar ameaças e as oportunidades
                    que ainda não existem. Ter uma visão a longo prazo da organização deve ser o melhor caminho para
                    alcançar a excelência. </h3>
                <br>
                <a href="{% url 'land' %}">
                    <button class="btn btn-info rounded" type="button"> Saiba mais</button>
                </a>
            </div>
            <div class="col-md">
                <figure class="figure">
                    <img alt="" class="figure-img img-fluid rounded" src="/static/imgs/2614794.svg">
                </figure>
            </div>
        </div>
    </div>
</section>
<section class="block-rose">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <figure class="figure">
                    <img alt="" class="figure-img img-fluid rounded" src="/static/imgs/19283.svg">
                </figure>
            </div>
            <div class="col-md">
                <h1>Marketing Digital</h1>
                <h3>Marketing digital são ações de comunicação que os negócios podem utilizar por meio da internet para
                    divulgar e comercializar seus produtos e serviços, conquistando novos clientes e melhorando seu
                    faturamento.
                </h3>
                <br>
                <a href="{% url 'land' %}">
                    <button class="btn btn-info rounded" type="button"> Saiba mais</button>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="block-blue">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1>Top of Mind</h1>
                <h3>Top of Mind é um termo em inglês utilizado na área de marketing empresarial como uma maneira de
                    qualificar as marcas que são mais populares na mente (mind em inglês) dos consumidores.</h3>
                <br>
                <a href="{% url 'land' %}">
                    <button class="btn btn-info rounded" type="button"> Saiba mais</button>
                </a>
            </div>
            <div class="col-md">
                <figure class="figure">
                    <img alt="" class="figure-img img-fluid rounded" src="/static/imgs/21403.svg">
                </figure>
            </div>
        </div>
    </div>
</section>
<section class="block-orange">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <figure class="figure">
                    <img alt="" class="figure-img img-fluid rounded" src="/static/imgs/21404.svg">
                </figure>
            </div>
            <div class="col-md">
                <h1>Planejamento Estratégico</h1>
                <h3>O planejamento estratégico de uma empresa tem por finalidade a realização de metas, que podem ser
                    definidas para conseguir o que se quer.</h3>
                <br>
                <a href="{% url 'land' %}">
                    <button class="btn btn-info rounded" type="button"> Saiba mais</button>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="block-green">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1>Design instrucional</h1>
                <h3>O design instrucional é a criação de cursos, aulas individuais e a construção de materiais didáticos
                    como impressos, vídeos, softwares ou, de modo mais genérico, qualquer objeto de aprendizagem.</h3>
                <br>
                <a href="{% url 'land' %}">
                    <button class="btn btn-info rounded" type="button"> Saiba mais</button>
                </a>
            </div>
            <div class="col-md">
                <figure class="figure">
                    <img alt="" class="figure-img img-fluid rounded" src="/static/imgs/2614794.svg">
                </figure>
            </div>
        </div>
    </div>
</section>
<section class="block-yellow">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <figure class="figure">
                    <img alt="" class="figure-img img-fluid rounded" src="/static/imgs/45240.svg">
                </figure>
            </div>
            <div class="col-md">
                <h1>Data Science</h1>
                <h3>A ciência de dados pode transformar uma grande quantidade de dados brutos em insights de negócios, e
                    com isso, auxiliar empresas em tomadas de decisões para atingir melhores resultados.</h3>
                <br>
                <a href="{% url 'land' %}">
                    <button class="btn btn-info rounded" type="button"> Saiba mais</button>
                </a>
            </div>
        </div>
    </div>
</section>


{% endblock %}