{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "menu.html" %} 
<section class="hero is-primary">
        <div class="hero-body">
          <div class="columns">
            <div class="column is-12">
              <div class="container content">
                <h1 class="title">Sistema de <em>Gestão</em> para todos!</h1>
                <h3 class="subtitle">
                Collection of code goodies for next-level dev
                </h3>
                <a href="https://github.com/dansup/bulma-templates" target="_blank" class="button is-primary is-large">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>Github</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container">
        <dic class="label"></dic>
          <div class="columns features">
              <div class="column is-4">
                  <div class="card is-shady">
                      <div class="card-image has-text-centered is-4by3">
                          <i class="fa fa-anchor" aria-hidden="true"></i>
                      </div>
                      <div class="card-content">
                          <div class="content">
                              <h4>Tristique senectus et netus et. </h4>
                              <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.</p>
                              <p><a href="#">Learn more</a></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="column is-4">
                  <div class="card is-shady">
                      <div class="card-image has-text-centered">
                          <i class="fa fa-barcode" aria-hidden="true"></i>
                      </div>
                      <div class="card-content">
                          <div class="content">
                              <h4>Tempor orci dapibus ultrices in.</h4>
                              <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas cmonsu songue. Phasellus vestibulum lorem
                              sed risus.</p>
                              <p><a href="#">Learn more</a></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="column is-4">
                  <div class="card is-shady">
                      <div class="card-image has-text-centered">
                          <i class="fa fa-apple"></i>
                      </div>
                      <div class="card-content">
                          <div class="content">
                              <h4> Leo integer malesuada nunc vel risus. </h4>
                              <p>Imperdiet dui accumsan sit amet nulla facilisi morbi. Fusce ut placerat orci nulla pellentesque dignissim enim. Libero id faucibus nisl tincidunt eget nullam. Commodo viverra maecenas accumsan lacus vel facilisis.</p>
                              <p><a href="#">Learn more</a></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

{% endblock %}