{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Nossos Serviços
            </h1>
            <h2 class="subtitle">
                Primary bold subtitle
            </h2>
        </div>
    </div>
</section>
<section class="container">
    <div class="level-item">
        <div class="columns is-multiline is-centered cards-container" id="sectioncontainer">
            <div class="columns">
                <div class="column">
                    <div class="column is-narrow">
                        <article class="message">
                            <div class="message-body">
                                <h1 class="title is-3">Serviços Business (Consultoria Empresarial)</h1>

                            </div>
                            <div class="message-body">
                                <div class="board-item">
                                    <div class="board-item-content"><span>
                                            <span class="panel-icon">
                                                <i class="fas fa-book" aria-hidden="true"></i>
                                            </span>
                                            Diagnóstico Organizacional
                                            Macro (Finanças/Contabilidade; Produção; Vendas; Sistema de Informação;
                                            Compras; Recursos Humanos e Atendimento.</span></div>
                                    <div class="board-item-content"><span>
                                            <span class="panel-icon">
                                                <i class="fas fa-book" aria-hidden="true"></i>
                                            </span>
                                            Diagnóstico Organizacional
                                            Micro - uma ou mais áreas escolhidas pelo cliente;</span></div>
                                </div>
                                <div class="board-item">
                                    <div class="board-item-content"><span>
                                            <span class="panel-icon">
                                                    <i class="fas fa-book" aria-hidden="true"></i>
                                                </span>
                                        Planejamento Estratégico - Identidade
                                            Organizacional (Missão, Visão, Valores), Análise SWOT, Estratégias e Plano
                                            de Ação</span></div>
                                </div>
                                <div class="board-item">
                                    <div class="board-item-content"><span>
                                            <span class="panel-icon">
                                                    <i class="fas fa-book" aria-hidden="true"></i>
                                                </span>Plano de Negócios - CANVAS</span></div>
                                </div>
                                <div class="board-item">
                                    <div class="board-item-content"><span>
                                            <span class="panel-icon">
                                                    <i class="fas fa-book" aria-hidden="true"></i>
                                                </span>Plano de Marketing - público-alvo,
                                            posicionamento de mercado, objetivos e metas, marca e estratégias de
                                            marketing</span></div>
                                </div>
                                <div class="board-item">
                                    <div class="board-item-content"><span><span class="panel-icon">
                                            <i class="fas fa-book" aria-hidden="true"></i>
                                        </span>Cursos e Treinamentos</span></div>
                                </div>
                            </div>
                    </div>
                    </article>
                    <!-- <article class="message">
                            <div class="message-header">
                                <p>Serviços Business (Consultoria Empresarial)</p>
                                <button class="delete" aria-label="delete"></button>
                            </div>
                            <div class="message-body">
                                <div class="board-item">
                                    <div class="board-item-content"><span>Diagnóstico Organizacional
                                            Macro (Finanças/Contabilidade; Produção; Vendas; Sistema de Informação;
                                            Compras; Recursos Humanos e Atendimento.
                                            Micro - uma ou mais áreas escolhidas pelo cliente</span></div>
                                </div>
                                <div class="board-item">
                                    <div class="board-item-content"><span>Planejamento Estratégico - Identidade
                                            Organizacional (Missão, Visão, Valores), Análise SWOT, Estratégias e Plano
                                            de Ação</span></div>
                                </div>
                                <div class="board-item">
                                    <div class="board-item-content"><span>Plano de Negócios - CANVAS</span></div>
                                </div>
                                <div class="board-item">
                                    <div class="board-item-content"><span>Plano de Marketing - público-alvo,
                                            posicionamento de mercado, objetivos e metas, marca e estratégias de
                                            marketing</span></div>
                                </div>
                                <div class="board-item">
                                    <div class="board-item-content"><span>Plano de Marketing - público-alvo,
                                            posicionamento de mercado, objetivos e metas, marca e estratégias de
                                            marketing</span></div>
                                </div>
                                <div class="board-item">
                                    <div class="board-item-content"><span>Cursos e Treinamentos</span></div>
                                </div>
                            </div>
                        </article> -->
                </div>
            </div>
            <div class="column">
                <div class="column is-narrow">
                    <article class="message is-success">
                        <div class="message-header">
                            <p>Serviços Data</p>
                            <button class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            <div class="board-item">
                                <div class="board-item-content">
                                    <span>
                                        <h2>Marketing Digital
                                            Definição de Persona
                                            Criação de Funil de Vendas
                                            Mídias Sociais
                                            Análise de Redes Sociais
                                            Divulgação e criação de conteúdo.
                                            SEO
                                            Análise de Home Page.
                                            Análise de Interfaces Mobile
                                        </h2>
                                        <h2>Desenvolvimento de Sistemas
                                            Desenvolvimento de Sites
                                            UX Design
                                            Design Instrucional
                                            Elaboração de cursos EAD
                                            Data Science
                                            Análise de modelos de negócios
                                            Elaboração de relatórios gerenciais
                                        </h2>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}