{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "menu.html" %}
<body>
        <section class="section">
                <div class="container">
                        <h3 class="title">Top of Mind</h3> 
                        <div class="columns is-vcentered">
                            <div class="column is-half">
                                    <figure class="image is-128x128">
                                            <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </figure>
                            </div>
                            <div class="column is-half">
                                <div class="content is-medium">
                                        Top of Mind é um termo em inglês utilizado na área de marketing empresarial como uma maneira de qualificar as marcas que são mais populares na mente (mind em inglês) dos consumidores. Segundo o AllWords.com, a definição é: "a porcentagem de entrevistados que, sem indução, nomeiam uma marca ou produto específico primeiramente, ao serem perguntados sobre as propagandas que se recordam de certa categoria de produtos pelos 30 dias passados. [1] Pode referir-se a:
                    
                                        Folha Top of Mind - pesquisa realizada anualmente pelo instituto Datafolha, que premia as marcas mais lembradas pela população brasileira.
                                        Prêmio Top of Mind de Recursos Humanos - homenagem às empresas mais lembradas pelos profissionais que atuam nas áreas de recursos humanos.        </div>
                            </div>
                        </div>
                        </div>
        </section>
      </body>
{% endblock %}