{% extends "base.html" %}
{% block content %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-3">
                <div id="content" class="colM">
                    <h1 class='label'>Clientes</h1>
                    <form method="post">{% csrf_token %}
                            <p>Tem certeza que deseja deletar o cliente "{{ object.nome }}"?</p>
                            <input type="submit" value="Confirm">
                        </form>
                    <p>Data: {{ now|date }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}