{% extends "base.html" %}
{% block content %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
                <div class="columns is-mobile is-centered">
                        <div class="column is-half">
                          <p class="bd-notification is-primary">
                                <h1 class="title is-2">Clientes</h1>
                                <!-- {{ form }} -->
                                <!-- <form action="" method="post">
                                            {% csrf_token %}
                                            <p><label for="nome">Nome:</label>
                                                <input id="nome" type="text" name="nome" maxlength="100" required></p>
                                            <p><label for="sobrenome">Sobrenome:</label>
                                                <input id="sobrenome" type="text" name="sobrenome" maxlength="100" required></p>
                                            <p><label for="cnpj">Cnpj:</label>
                                                <input id="cnpj" type="text" name="cnpj" maxlength="11" required></p>
                                            <p><label for="celular">Celular:</label>
                                                <input id="celular" type="text" name="celular" maxlength="9" required></p>
                                            <p><label for="email">Email:</label>
                                                <input id="email" type="text" name="email" maxlength="100" required></p>
                                                <br>
                                                <button class="button is-success" type="submit" value="Salvar">Salvar</button>
                                        </form> -->
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="field">
                                        <label for="nome" class="label">Nome</label>
                                        <input class="input" id="nome" type="text" name="nome" maxlength="100" required>
                                    </div>
                                    <div class="field">
                                        <label for="sobrenome" class="label">Sobrenome</label>
                                        <input class="input" id="sobrenome" type="text" name="sobrenome" maxlength="100" required>
                                    </div>
                                    <div class="field">
                                        <label for="cnpj" class="label">Cnpj</label>
                                        <input class="input"id="cnpj" type="text" name="cnpj" maxlength="11" required>
                                    </div>
                                    <div class="field">
                                        <label for="celular" class="label">Celular</label>
                                        <input class="input" id="celular" type="text" name="celular" maxlength="9" required>
                                    </div>
                                    <div class="field">
                                        <label for="email" class="label">Email</label>
                                        <input class="input" id="email" type="text" name="email" maxlength="100" required>
                                    </div>
                                    <button class="button is-success" type="submit" value="Salvar">Salvar</button>
                                </form>
                          </p>
                        </div>
                      </div> 
        </div>
       
    </div>
</section>
{% endblock%}