{% extends "base.html" %}
{% block content %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-3">
                <div id="content" class="colM">
                    <h1 class='label'>Clientes</h1>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                              <th>{{ object.nome }}</th>
                        </tr>
                        </tfoot>
                    </table>
                    <p>Data: {{ now|date }}</p>
                    <a class="button" href="{% url 'update' object.pk %}">Atualizar</a>
                    </div>
                    <a class="button" href="{% url 'delete' object.pk %}">Excluir</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}