{% extends "base.html" %}
{% block content %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-left">
            <div class="column mobile">
                <div id="content" class="colM">
                    <h1 class="title is-2">Clientes</h1>
                        {{ form.as_p }}
                        <br>
                        <button class="button is-success" type="submit" value="Salvar">Salvar</button>
                </div>
            </div>
            <br>
        </div>
    </div>
</section>


{% endblock%}