astroid==2.2.5
autopep8==1.4.4
crispy-forms-bulma==1.1.4
crispy-forms-bulma-django2==1.1.5
Django==2.2.5
django-bulma==0.6.0
django-crispy-bulma==0.1.2
django-crispy-forms==1.7.2
forms-extras==0.1.1
include==0.2.2
isort==4.3.21
Jinja2==2.10.1
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
psycopg2==2.7.7
psycopg2-binary==2.8.3
pycodestyle==2.5.0
pylint==2.3.1
pylint-django==2.0.11
pylint-plugin-utils==0.5
pytz==2019.2
rope==0.14.0
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
wrapt==1.11.2
