{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section class="hero index is-large">
    <div class="hero-body">
      <div class="container">
          <div class="column is-4 is-offset-4">
              <div class="column box">
          <h1 class="title">Login</h1>
          <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ form|crispy }}
            <button type="submit" class="button is-success is-outlined">Entrar</button>
          </form>
        </div>
          </div>
      </div>
    </div>
  </section>
{% endblock%}