{% block content %} {% load static %}

<!-- Bootstrap core CSS -->
<link href="/static/styles/css/main.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/css/floating-labels.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            {% if form.errors %}
            <p>Seu nome de usuário e senha não coincidem. Por favor, tente novamente.</p>
            {% endif %} {% if next %} {% if user.is_authenticated %}
            <p>Sua conta não tem acesso a esta página. Para continuar, faça login com uma conta que tenha acesso.
            </p>
            {% else %}
            <p>Área restrita para clientes.</p>
            {% endif %} {% endif %}

            <form action="{% url 'login' %}" class="form-signin" method="post">
                {% csrf_token %}
                <div class="text-center mb-4">
                    <a class="navbar-brand" href="{% url 'index' %}"><img class="mb-4" src="/static/imgs/logo.svg"
                            alt="" width="72" height="72"></a>
                    <h1 class="h3 mb-3 font-weight-normal">Sistema de Gestão</h1>
                </div>

                <div class="form-label-group">
                    {{ form.username }}
                    <label>{{ form.username.label_tag }}</label>
                </div>

                <div class="form-label-group">
                    {{ form.password }}
                    <label>{{ form.password.label_tag }}</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
                    </label>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">Login</button>
                <p class="mt-5 mb-3 text-muted text-center">&copy; {% now " Y " %}</p>
            </form>
        </div>
        <div class="col-sm">

        </div>
    </div>
</div>
{% endblock%}