@charset "utf-8";
@import "../bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
body {
    font-family: Nunito;
}

$blue: #03104d;
$primary: $blue;
.button.is-primary {
    background-color: $primary;
    background: $primary;
    &:hover {
        background-color: $primary;
    }
}

a {
    color: $blue;
    cursor: pointer;
    text-decoration: none;
}

.bloco2 {
    display: block;
    background: url(/static/imgs/bloco2.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.is-link {
    background-color: rgb(128, 13, 112);
    border-color: transparent;
    color: #fff;
}

.navbar.is-light {
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero.is-purple {
    background-image: linear-gradient(141deg, #7b007287 0%, #9730a0 71%, #aa4da5 100%);
}

.hero.is-rose {
    background-image: linear-gradient(141deg, #EEA48A 0%, rgb(245, 145, 109) 71%, rgb(223, 137, 105) 100%);
}

.hero.is-blue {
    background-image: linear-gradient(141deg, #1a3bd187 0%, #2188cc 71%, #1ac1c7 100%);
}

.hero.is-data {
    background-image: url(/static/imgs/back.svg);
    background-position: center;
}

#bola1 {
    animation: bola 1s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes bola {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.title.is-1 {
    font-size: 3.25rem;
}

.title.is-2 {
    font-size: 2.25rem;
}

.title.is-3 {
    font-size: 1.25rem;
}