{% extends "base.html" %} {% load staticfiles %} {% block content %}

<section class="hero is-medium">
    <div class="hero-body">
        <div class=" columns is-mobile">
            <div class="column is-half is-offset-one-quarter">
                <div class="card">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img class="is-rounded" src="/static/imgs/robot.svg" alt="Image">
                                </figure>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item" aria-label="reply">
                                            <span class="icon is-small">
                      <i class="fas fa-reply" aria-hidden="true"></i>
                    </span>
                                        </a>
                                        <a class="level-item" aria-label="retweet">
                                            <span class="icon is-small">
                      <i class="fas fa-retweet" aria-hidden="true"></i>
                    </span>
                                        </a>
                                        <a class="level-item" aria-label="like">
                                            <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                            <div class="media-content">
                                <h4 class="title is-4">Como posso ajudar ?</h4>
                                <ul class="list-group chat-log js-chat-log">
                                </ul>
                                <br>
                                <div class="field has-addons">
                                    <input class="input js-text" type="text" placeholder="Me pergunte algo...">
                                    <a class="button is-info js-say">
                  Pergunte
                </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
</section>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/js.cookie.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script>
    var chatterbotUrl = '{% url "chatterbot" %}';
    var csrftoken = Cookies.get('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    var $chatlog = $('.js-chat-log');
    var $input = $('.js-text');
    var $sayButton = $('.js-say');

    function createRow(text) {
        var $row = $('<li class="list-group-item"></li>');
        $row.text(text);
        $chatlog.append($row);
    }

    function submitInput() {
        var inputData = {
                'text': $input.val()
            }
            // Display the user's input on the web page
        createRow(inputData.text);
        var $submit = $.ajax({
            type: 'POST',
            url: chatterbotUrl,
            data: JSON.stringify(inputData),
            contentType: 'application/json'
        });
        $submit.done(function(statement) {
            createRow(statement.text);
            // Clear the input field
            $input.val('');
            // Scroll to the bottom of the chat interface
            $chatlog[0].scrollTop = $chatlog[0].scrollHeight;
        });
        $submit.fail(function() {
            // TODO: Handle errors
        });
    }
    $sayButton.click(function() {
        submitInput();
    });
    $input.keydown(function(event) {
        // Submit the input when the enter button is pressed
        if (event.keyCode == 13) {
            submitInput();
        }
    });
</script>

{% endblock %}