<script src="/static/js/node_modules/chart.js/dist/Chart.js"></script>
<div class="tile is-ancestor">
    <div class="tile is-vertical is-6">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                    <canvas class="linechart"></canvas>
                    <script>
                        var ctx = document.getElementsByClassName("linechart");
                        var graf1 = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ['jan', 'fev', 'mar'],
                                datasets: [{
                                    label: '# of Votes',
                                    data: ['{{ object.valor_ativo }}', '1956', '2512'],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </article>
            </div>
        </div>
    </div>
</div>