{% extends "base.html" %}
{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container has-text-left">
            <div class="column is-moblie">
                <div id="content" class="colM">
                    <h1 class="title is-1">Informações do Cliente</h1>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>SobreNome</th>
                          <th>Cnpj</th>
                          <th>Celular</th>
                          <th>Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>{{ object.nome }}</th>
                          <td>{{ object.sobrenome }}</td>
                          <td>{{ object.cnpj }}</td>
                          <td>{{ object.celular }}</td>
                          <td>{{ object.email }}</td>
                      </tbody>
                    </table>
                    <p>Data: {{ now|date }}</p>
                    <div class="field is-grouped">
                      <p class="control">
                        <a  href="{% url 'update' object.pk %}"><span class="button is-success">Atualizar</span></a>
                      </p>
                      <p class="control">
                        <a  href="{% url 'delete' object.pk %}"><span class="button is-danger">Excluir</span></a>
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}
