{% extends "base.html" %}
{% load static %}
{% block content %}

<header class="hero is-light">
  <div class="hero-head">
  </div>
</header>

<div>
    <div class="col">
        {% include 'nav.html' %}
        <main class="col">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="title">Painel de Gestão do {{ user.username }}</div>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <button class="button is-small" type="button">
                            Hoje é {% now " D j F Y H:i" %}
            </button>
          </div>
        </div>
      </div>
      <h1 class="title is-2">Clientes</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>SobreNome</th>
            <th>Cnpj</th>
            <th>Celular</th>
            <th>Email</th>
            <th>Foto</th>

          </tr>
        </thead>
        <tbody>
          {% for bdclientes in object_list %}
          <tr>
            <th><a href="{% url 'detail' bdclientes.pk %}">{{ bdclientes.nome}}</a></th>
            <th>{{ bdclientes.sobrenome}}</th>
            <td>{{ bdclientes.cnpj}}</td>
            <td>{{ bdclientes.celular}}</td>
            <td>{{ bdclientes.email}}</td>
            <td>
              <figure>{{ bdclientes.foto}}</figure>
          </tr>
        </tbody>
        {% empty %}
        <li>Clientes não encontrado.</li>
        {% endfor %}
      </table>
      <br>
      <a href="{% url 'new' %}">
        <button class='button is-success'>Novo</button>
      </a>
      <br>
    </main>
  </div>
</div>
{% endblock%}
