{% extends "base.html" %} {% block content %} {% include "menu.html" %}

<h1>>Avaliação de Desempenho por Competência</h1>
ATENÇÃO: Preencha apenas os campos destacados em azul. Não altere a formatação ou qualquer outra célula. Passo 1) Forneça as informações da sua empresa Nome da empresa: Nome da sua empresa Ltda (altere com o nome correto da sua empresa) Passo 2) Informe
a data desta avaliação: Data da avaliação 1/1/2018 (coloque a data que a avaliação será efetuada) Passo 3) Escolha 5 critérios COMPORTAMENTAIS importantes para sua organização: Os critérios de avaliação dependem do perfil de funcionário que você espera
para sua organização. Preencha abaixo os critérios comportamentais mais importantes para a sua empresa. Eles serão base das avaliações individuais. Critérios Comportamental Trabalho em Equipe (altere os critérios colocados ao lado como sugestão) Comportamental
Pensamento de Dono Comportamental Criatividade Comportamental Produtividade Comportamental Ética Passo 4) Escolha 5 critérios TÉCNICOS importantes para sua organização:Preencha agora com as características técnicas mais relevantes para as funções que
serão avaliadas. Não deixe de acompanhar a evolução dos seus funcionários nestes critérios ao longo do tempo.CritériosTécnico Capacidade Analítica (altere os critérios colocados ao lado como sugestão) Técnico Fluência em Inglês Técnico Habilidade com
Excel Técnico Organização Técnico Conhecimento do ERP Para mais informações sobre avaliação de desempenho, visite: convenia.com.br/blog


</table>
<!-- ************************************************************************** -->
<hr>
<A NAME="table1">
    <h1>Planilha 2: <em>Relatorio</em></h1>
</A>
<table cellspacing="0" border="0">
    <colgroup width="242"></colgroup>
    <colgroup width="137"></colgroup>
    <colgroup span="11" width="89"></colgroup>


    Desenvolver um bom plano de gestão de pessoal é indispensável para o sucesso de qualquer negócio. Acompanhe nesta aba como estão os indicadores da sua empresa. Aproveite e veja em quais critérios o Recursos Humanos precisará focar neste próximo período.

    <td colspan=5 rowspan=22 height="469" align="left" valign=bottom>
        <img src="Modelo-Avaliacao-Desempenho-Competencia_htm_7762691790323ee4.png" width=615 height=457 hspace=18 vspace=16>

        <td colspan=8 rowspan=22 align="left" valign=bottom>
            <img src="Modelo-Avaliacao-Desempenho-Competencia_htm_87e39c84cc8e804a.png" width=605 height=456 hspace=58 vspace=17> Média Func1 Func2 Func3 Func4 Func5 Func6 Func7 Func8 Func9 Func10 Trabalho em Equipe Pensamento de Dono Criatividade Produtividade
            Ética Capacidade Analítica Fluência em Inglês Habilidade com Excel Organização Conhecimento do ERP Para mais informações sobre avaliação de desempenho, visite: convenia.com.br/blog
</table>
<!-- ************************************************************************** -->

{% endblock %}