<head>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">Hello World</p>
            <p class="subtitle">What is up?</p>
            <div class="content" id="graf1">
            </div>
            <script>
                var xValue = ['{{ object.lucro_liquido }}', 'Product B', 'Product C'];
                var yValue = [20, 14, 23];
                var yValue2 = [24, 16, 20];
                var trace1 = {
                    x: xValue,
                    y: yValue,
                    type: 'bar',
                    text: yValue.map(String),
                    textposition: 'auto',
                    hoverinfo: 'none',
                    opacity: 0.5,
                    marker: {
                        color: 'rgb(158,202,225)',
                        line: {
                            color: 'rgb(8,48,107)',
                            width: 1.5
                        }
                    }
                };
                var trace2 = {
                    x: xValue,
                    y: yValue2,
                    type: 'bar',
                    text: yValue2.map(String),
                    textposition: 'auto',
                    hoverinfo: 'none',
                    marker: {
                        color: 'rgba(58,200,225,.5)',
                        line: {
                            color: 'rgb(8,48,107)',
                            width: 1.5
                        }
                    }
                };
                var data = [trace1, trace2];
                var layout = {
                    title: 'January 2013 Sales Report'
                };
                Plotly.newPlot('graf1', data);
            </script>
        </article>
    </div>

    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">Teste de Grafico</p>
            <p class="subtitle">With some content</p>
            <div class=" card" style="height: 100%; width: 100%;">

        </article>
        </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                        <p class="title">Vertical tiles</p>
                        <p class="subtitle">Top box</p>
                    </article>
                    <article class="tile is-child box">
                        <p class="title">Vertical tiles</p>
                        <p class="subtitle">Bottom box</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">Middle box</p>
                        <p class="subtitle">With an image</p>
                        <div class="content">
                            <div id="graf1">
                            </div>
                            <script>
                                var xValue = ['{{ object.data_inicio }}', 'Product B', 'Product C'];
                                var yValue = [20, 14, 23];
                                var yValue2 = [24, 16, 20];
                                var trace1 = {
                                    x: xValue,
                                    y: yValue,
                                    type: 'bar',
                                    text: yValue.map(String),
                                    textposition: 'auto',
                                    hoverinfo: 'none',
                                    opacity: 0.5,
                                    marker: {
                                        color: 'rgb(158,202,225)',
                                        line: {
                                            color: 'rgb(8,48,107)',
                                            width: 1.5
                                        }
                                    }
                                };
                                var trace2 = {
                                    x: xValue,
                                    y: yValue2,
                                    type: 'bar',
                                    text: yValue2.map(String),
                                    textposition: 'auto',
                                    hoverinfo: 'none',
                                    marker: {
                                        color: 'rgba(58,200,225,.5)',
                                        line: {
                                            color: 'rgb(8,48,107)',
                                            width: 1.5
                                        }
                                    }
                                };
                                var data = [trace1, trace2];
                                var layout = {
                                    title: 'January 2013 Sales Report'
                                };
                                Plotly.newPlot('graf1', data, layout);
                            </script>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Wide col</p>
                    <p class="subtitle">Aligned with the right col</p>
                    <div class="content">
                        <div class="box">
                            <div id="myDiv">
                            </div>
                        </div>

                        <script>
                            var trace1 = {
                                type: "scatter",
                                mode: "lines",
                                x: ['2018-01-01', '2018-08-31'],
                                y: [10, 5],
                                line: {
                                    color: '#17BECF'
                                }
                            };

                            var trace2 = {
                                type: "scatter",
                                mode: "lines",
                                x: ['2018-01-01', '2018-08-31'],
                                y: [3, 7],
                                line: {
                                    color: '#7F7F7F'
                                }
                            };

                            var data = [trace1, trace2];

                            var layout = {
                                title: 'Custom Locale',
                            };

                            var config = {
                                locale: 'fr'
                            };
                            Plotly.newPlot('myDiv', data, layout, config);
                        </script>
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <div class="content">
                    <p class="title">Tall col</p>
                    <p class="subtitle">With even more content</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula
                            eleifend, nunc dui porta orci, quis semper odio felis ut quam.
                        </p>
                        <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet
                            felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.
                        </p>
                        <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet
                            lacus, quis faucibus libero. Quisque non semper leo.
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">Side col</p>
                <p class="subtitle">With some content</p>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                </div>
            </article>
        </div>
        <div class="tile is-parent is-8">
            <article class="tile is-child box">
                <p class="title">Main col</p>
                <p class="subtitle">With some content</p>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                </div>
            </article>
        </div>
    </div>

    {% block content %} {% load plotly_dash %}
    <h1>Home Page</h1>

    <div class="{% plotly_class name='SimpleExample' %} card" style="height: 100%; width: 100%">
        {% plotly_app name='SimpleExample' ratio=0.45 %}
    </div>
    <br> {{ plot1 | safe }} {% endblock %}