<div class="container is-fluid">
    <div class="columns">
        <div class="column is-3 ">
            {% include 'nav.html' %}
        </div>
        <div class="column is-9">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                {% block breadcrumb %}
                <ul class="breadcrumb">
                    {% for url, label in breadcrumbs %}
                    <li>
                        {% ifnotequal forloop.counter breadcrumbs_total %}
                        <a href="{% url 'dashboard' %}">{{ label|safe }}</a> {% else %} {{ label|safe }} {% endifnotequal %} {% if not forloop.last %}
                        <span class="divider">/</span> {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endblock breadcrumb %} {% block content %}{% endblock content %}
            </nav>
            <section class="hero is-info welcome is-small">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Painel de Gestão do {{ user.username }}
                        </h1>
                        <h2 class="subtitle">
                            Hoje é {% now "j F Y H:i" %}
                        </h2>
                    </div>
                </div>
            </section>
            <div class="level"></div>
            <section class="info-tiles">
                {% include 'dashboard/widgets.html' %} {% include 'dashboard/graficos.html' %}
            </section>
            <div class="columns">
                <div class="column is-6">
                    <div class="card events-card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Events
                            </p>
                            <a href="#" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-table">
                            <div class="content">
                                <table class="table is-fullwidth is-striped">
                                    <tbody>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">View All</a>
                        </footer>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="notification is-primary">
                        <button class="delete"></button> Primar lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet
                        fringilla. Nullam gravida purus diam, et dictum <a>felis
                            venenatis</a> efficitur. Sit amet, consectetur adipiscing elit
                    </div>

                    <div class="notification is-info">
                        <button class="delete"></button> Primar lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet
                        fringilla. Nullam gravida purus diam, et dictum <a>felis
                            venenatis</a> efficitur. Sit amet, consectetur adipiscing elit
                    </div>

                    <div class="notification is-warning">
                        <button class="delete"></button> Primar lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet
                        fringilla. Nullam gravida purus diam, et dictum <a>felis
                            venenatis</a> efficitur. Sit amet, consectetur adipiscing elit
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>