<div class="col is-multiline">
    <div class="col">
        <div class="box notification is-primary">
            <div class="heading">Rentabilidade / Referência</div>
            <div class="title">{{result}}% / 4%</div>
            <div class=level>
                <div class=level-item>
                    <div>
                        <div class=heading>Lucro Líquido</div>
                        <div class="title is-5">R$ {{ object.lucro_liquido }}</div>
                    </div>
                </div>
                <div class=level-item>
                    <div>
                        <div class=heading>Investimento</div>
                        <div class="title is-5">R$ {{ object.investimento }} </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=col>
        <div class="box notification is-warning">
            <div class=heading>Lucratividade</div>
            <div class=title>55% / 45%</div>
            <div class=level>
                <div class=level-item>
                    <div>
                        <div class=heading>Lucro Líquido</div>
                        <div class="title is-5">R$</div>
                    </div>
                </div>
                <div class=level-item>
                    <div>
                        <div class=heading>Receita Bruta</div>
                        <div class="title is-5">R$ </div>
                    </div>
                </div>
                <div class=level-item>
                    <div>
                        <div class=heading>Exp %</div>
                        <div class="title is-5">45%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=col>
        <div class="box notification is-info">
            <div class=heading>Feedback Activity</div>
            <div class=title>78% &uarr;</div>
            <div class=level>
                <div class=level-item>
                    <div>
                        <div class=heading>Pos</div>
                        <div class="title is-5">1560</div>
                    </div>
                </div>
                <div class=level-item>
                    <div>
                        <div class=heading>Neg</div>
                        <div class="title is-5">368</div>
                    </div>
                </div>
                <div class=level-item>
                    <div>
                        <div class=heading>Pos/Neg %</div>
                        <div class="title is-5">77% / 23%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=col>
        <div class="box notification is-danger">
            <div class=heading>Orders / Returns</div>
            <div class=title>75% / 25%</div>
            <div class=level>
                <div class=level-item>
                    <div>
                        <div class=heading>Orders $</div>
                        <div class="title is-5">425K</div>
                    </div>
                </div>
                <div class=level-item>
                    <div>
                        <div class=heading>Returns $</div>
                        <div class="title is-5">106K</div>
                    </div>
                </div>
                <div class=level-item>
                    <div>
                        <div class=heading>Success %</div>
                        <div class="title is-5">+ 28,5%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<progress class="progress is-medium is-dark" value="60" max="100">60%</progress>