{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css"/>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
<!--    <link rel="stylesheet" href="{% static 'debug.css' %}"/>-->
    <title>Projeto de Gestão de Clinicas</title>
</head>
<body>

{% block content %}
{% endblock %}
{% include "footer.html" %}
</body>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</html>
