{% extends "base.html" %}
{% block content %}
<div class="col">
    <ul class="nav flex-column">
        <li class="nav-item-header nav-item">Activity</li>
        <li class="nav-item"><a href="javascript:void(0);" class="nav-link"><i class="nav-link-icon pe-7s-chat"> </i><span>Chat</span>
            <div class="ml-auto badge badge-pill badge-info">8</div>
        </a></li>
        <li class="nav-item"><a href="javascript:void(0);" class="nav-link"><i class="nav-link-icon pe-7s-wallet"> </i><span>Recover Password</span></a></li>
        <li class="nav-item-header nav-item">My Account</li>
        <li class="nav-item"><a href="javascript:void(0);" class="nav-link"><i class="nav-link-icon pe-7s-config"> </i><span>Settings</span>
            <div class="ml-auto badge badge-success">New</div>
        </a></li>
        <li class="nav-item"><a href="javascript:void(0);" class="nav-link"><i class="nav-link-icon pe-7s-coffee"> </i><span>Messages</span>
            <div class="ml-auto badge badge-warning">512</div>
        </a></li>
        <li class="nav-item"><a href="javascript:void(0);" class="nav-link"><i class="nav-link-icon pe-7s-box2"> </i><span>Logs</span></a></li>
        <li class="nav-item-divider nav-item"></li>
        <li class="nav-item-btn nav-item">
            <button class="btn-pill btn btn-success btn-sm">Save</button>
        </li>
    </ul>
</div>
{% endblock %}