{% load static %}

<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Menu</h3>
                    </div>
                     <ul class="link-list">
                        <li><a href="{% url 'empresa' %}">A empresa </a></li>
                        <li><a href="{% url 'equipe' %}">A equipe </a></li>
                        <li><a href="{% url 'servicos' %}">Serviços </a></li>
                        <li><a href="{% url 'clientes' %}">Clientes </a></li>
                        <li><a href="{% url 'parceiros' %}">Parceiros </a></li>
                        <li><a href="{% url 'main' %}">ChatBot </a></li>

                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Serviços</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="{% url 'gestao' %}">Gestão Empresarial</a></li>
                        <li><a href="{% url 'top' %}">Top of Mind</a></li>
                        <li><a href="{% url 'marketing' %}">Marketing Digital</a></li>
                        <li><a href="{% url 'planejamento' %}">Planejamento Estratégico</a></li>
                        <li><a href="{% url 'design' %}">Design Instrucional</a></li>
                        <li><a href="{% url 'data' %}">Data Science</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Contatos</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="#">
                                Fale Conosco </a>
                        </li>
                        <li>
                                <img class="icon" src="{% static 'imgs/whatsapp.svg' %}">
                                <a class="has-text-dark" href="mailto:info@ftwcoin.io">(98)98707-3706</a>
                        </li>
                        <li>
                                <img class="icon" src="{% static 'imgs/instagram.svg' %}">
                                <a class="has-text-dark" href="mailto:info@ftwcoin.io">@businessdata</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="copyright">
            <span class="moto light-text">© 2019 Data Business Consultoria LTDA.</span>
        </div>

        <div class="content has-text-centered">
            <p>
                <a class="icon" href="https://github.com/evanildobarros/gestaoclinicas">
                    <i class="fs fab fa-github fa-2x"></i>
                </a>
            </p>
            <div class="control level-item">
                <a href="https://github.com/evanildobarros/gestaoclinicas">
                    <div class="tags has-addons">
                        <span class="tag is-dark">Fonte do Site</span>
                        <span class="tag is-info">Business Data</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>
