{% load static %}
<footer id="dark-footer" class="footer footer-dark">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Institucional</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="{% url 'empresa' %}">A empresa </a></li>
                        <li><a href="{% url 'equipe' %}">A equipe </a></li>
                        <li><a href="{% url 'servicos' %}">Serviços </a></li>
                        <li><a href="{% url 'clientes' %}">Clientes </a></li>
                        <li><a href="{% url 'blog' %}">Blog </a></li>
                        <li><a href="{% url 'list' %}">Contatos </a></li>

                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Serviços</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="{% url 'gestao' %}">Gestão Empresarial</a></li>
                        <li><a href="{% url 'top' %}">Top of Mind</a></li>
                        <li><a href="{% url 'marketing' %}">Marketing Digital</a></li>
                        <li><a href="{% url 'planejamento' %}">Planejamento Estratégico</a></li>
                        <li><a href="{% url 'design' %}">Design Instrucional</a></li>
                        <li><a href="{% url 'data' %}">Data Science</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Contatos</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="https://www.agilox.net/en/newsroom">
                                Fale Conosco </a></li>
                        <li><a href="https://www.agilox.net/en/unternehmen/impressum">
                                Contato </a></li>
                    </ul>
                </div>
            </div>
            <div class="column is-4">
                <div class="footer-column">
                    <div class="image is-128x128">
                        <img src="/static/imgs/logo.svg" width="150px" height="100px">
                    </div>
                    <div class="footer-header">
                        <nav class="level ">
                            <div class="level-right">
                                <a href="" class="level-item">
                                    <img src="{% static 'imgs/twitter.svg' %}" width="30px" height="30px">
                                </a>
                                <a href="" class="level-item">
                                    <img src="{% static 'imgs/instagram.svg' %}" width="30px" height="30px">
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright">
            <span class="moto light-text">© 2019 Data Business Consultoria LTDA.</span>
        </div>
        <div class="content has-text-centered">
            <p>
                <a class="icon" href="https://github.com/dansup/bulma-templates">
                    <i class="fs fab fa-github fa-2x"></i>
                </a>
            </p>
            <div class="control level-item">
                <a href="https://github.com/dansup/bulma-templates">
                    <div class="tags has-addons">
                        <span class="tag is-dark">Bulma Templates</span>
                        <span class="tag is-info">MIT license</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>