{% block menu %} {% load static %}
<div class="hero-head">
    <div class='container .navbar'>
        <nav class="navbar">
            <div class="navbar-brand">
                <figure class="image is-96x96">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'imgs/logo.svg' %}" alt="Data Business LTDA">
                    </a>
                </figure>

                <div class="navbar-burger burger"
                    onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-active has-text-link" href="{% url 'index' %}">
                        Home
                    </a>
                    <a class="navbar-item" href="{% url 'empresa' %}">A empresa</a>
                    <a class="navbar-item" href="{% url 'equipe' %}">A equipe</a>
                    <a class="navbar-item" href="{% url 'servicos' %}">Serviços</a>
                    <a class="navbar-item" href="{% url 'clientes' %}">Clientes</a>
                    <a class="navbar-item" href="{% url 'parceiros' %}">Parceiros</a>
                    <!-- <a class="navbar-item" href="{% url 'blog' %}">Blog</a> -->
                    <span class="navbar-item">
                        <a class="navbar-item" href="/login"><button
                                class="button is-success is-rounded">Login</button></a>
                    </span>
                    {% if user.is_authenticated %}
                    <span class="navbar-item">
                        <a class="navbar-item" href="/accounts/logout"><button
                                class="button is-danger is-rounded">Sair</button></a>
                    </span>
                    {% endif %}
                    <!-- <a class="navbar-item" href="{% url 'list' %}">Clienteslist</a> -->
                    <span class="navbar-item">
                        <a href="https://www.instagram.com/businessdataconsultoria/"><img
                                src='{% static 'imgs/instagram.svg' %}'></img></a>
                    </span>
                    <span class="navbar-item">
                        <img src='{% static 'imgs/whatsapp.svg' %}'></img>
                    </span>
                </div>
            </div>
        </nav>
    </div>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script href="{% static 'anime.js' %}"></script>
{% endblock %}
