.hero {
    background: url(/static/imgs/hero.svg);
    background-position: top;
    background-size: cover;
    margin-bottom: -5rem;
}
.altura {
    min-height: 100vh;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: stretch;
}

.heroempresa {
    background: url(/static/imgs/empresa.svg);
}

.herogestao {
    background: url(/static/imgs/gestao.png);
}

.herotop {
    background: url(/static/imgs/top.png);
}

.heromark {
    background: url(/static/imgs/marketing.png);
}

.heroplan {
    background: url(/static/imgs/plan.png);
}

.herodesign {
    background: url(/static/imgs/design.png);
}

.herodata {
    background: url(/static/imgs/data.png);
}

div#loader-wrapper .atom-loader {
    position: absolute;
    left: 0;
    right: 0;
    margin: -31px auto auto;
    width: 82px;
    height: 82px;
    top: 50%;
    border-radius: 80%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    perspective: 780px
}

div#loader-wrapper .atom-loader-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

div#loader-wrapper .atom-loader-inner.atom-one {
    left: 0;
    top: 0;
    animation: atom-rotate-one 1.15s linear infinite;
    -o-animation: atom-rotate-one 1.15s linear infinite;
    -ms-animation: atom-rotate-one 1.15s linear infinite;
    -webkit-animation: atom-rotate-one 1.15s linear infinite;
    -moz-animation: atom-rotate-one 1.15s linear infinite;
    border-bottom: 3px solid #da7f08;
}

div#loader-wrapper .atom-loader-inner.atom-two {
    right: 0;
    top: 0;
    animation: atom-rotate-two 1.15s linear infinite;
    -o-animation: atom-rotate-two 1.15s linear infinite;
    -ms-animation: atom-rotate-two 1.15s linear infinite;
    -webkit-animation: atom-rotate-two 1.15s linear infinite;
    -moz-animation: atom-rotate-two 1.15s linear infinite;
    border-right: 3px solid #d30c79;
}

div#loader-wrapper .atom-loader-inner.atom-three {
    right: 0;
    bottom: 0;
    animation: atom-rotate-three 1.15s linear infinite;
    -o-animation: atom-rotate-three 1.15s linear infinite;
    -ms-animation: atom-rotate-three 1.15s linear infinite;
    -webkit-animation: atom-rotate-three 1.15s linear infinite;
    -moz-animation: atom-rotate-three 1.15s linear infinite;
    border-top: 3px solid #53f109;
}

@keyframes atom-rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0)
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)
    }
}

@-o-keyframes atom-rotate-one {
    0% {
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0)
    }
    100% {
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)
    }
}

@-ms-keyframes atom-rotate-one {
    0% {
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0)
    }
    100% {
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)
    }
}

@-webkit-keyframes atom-rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0)
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)
    }
}

@-moz-keyframes atom-rotate-one {
    0% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0)
    }
    100% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)
    }
}

@keyframes atom-rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0)
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)
    }
}

@-o-keyframes atom-rotate-two {
    0% {
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0)
    }
    100% {
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)
    }
}

@-ms-keyframes atom-rotate-two {
    0% {
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0)
    }
    100% {
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)
    }
}

@-webkit-keyframes atom-rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0)
    }
    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)
    }
}

@-moz-keyframes atom-rotate-two {
    0% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0)
    }
    100% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)
    }
}

@keyframes atom-rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0)
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)
    }
}

@-o-keyframes atom-rotate-three {
    0% {
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0)
    }
    100% {
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)
    }
}

@-ms-keyframes atom-rotate-three {
    0% {
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0)
    }
    100% {
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)
    }
}

@-webkit-keyframes atom-rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0)
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)
    }
}

@-moz-keyframes atom-rotate-three {
    0% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0)
    }
    100% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -moz-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-ms-keyframes "spin" {
    from {
        -ms-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -ms-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-o-keyframes spin {
    from {
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -o-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

