{% load static %} {% block content %} {% load l10n %} {% load plotly_dash %}

<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% block title %}
    <title>Business Data Consultoria LTDA - Negócios Inteligentes</title>{% endblock %}
    <link rel="stylesheet" href="/static/styles/bulma/css/main.css">
</head>

<body>
    <div class="hero-head">
        {% include "menu_dash.html" %}
        <nav class="level"></nav>
        <div class="column">
            {% include "dashboard/indicadores.html" %}
        </div>
    </div>
</body>

</html>

{% endblock %}