{% extends "base.html" %}
{% block content %}
{% load static %}
<header class="hero is-light">
    <div class="hero-head">
    </div>
  </header>
  
  <div class="section">
    <div class="columns">
    {% include 'nav.html' %}
      <main class="column">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <div class="title">Dashboard</div>
            </div>
          </div>
          {% include 'breadcrumb.html' %}
          <div class="level-right">
            <div class="level-item">
              <button type="button" class="button is-small">
                March 8, 2017 - April 6, 2017
              </button>
            </div>
          </div>
        </div>
        {% include 'widgets.html' %}
        <div class="columns is-multiline">
          <div class="column is-6">
            <div class="panel">
              <p class="panel-heading">
                Ativos: R$ 7000,00
              </p>
              <div class="panel-block">
                {% include 'ativos.html' %}
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="panel">
              <p class="panel-heading">
                Gráfico teste - R$2000,00
              </p>
              <div class="panel-block">
                <div style="width:1000;height:100">
{{ graph_div|safe }}
</div>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="panel">
              <p class="panel-heading">
                Something
              </p>
              <div class="panel-block">
                <figure class="image is-16x9">
                  <img src="https://placehold.it/1280x720">
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="panel">
              <p class="panel-heading">
                Something Else
              </p>
              <div class="panel-block">
                <figure class="image is-16x9">
                  <img src="https://placehold.it/1280x720">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

{% endblock %}