{% load static %} {% block content %} {% load l10n %}
{% load plotly_dash %}

<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% block title %}
    <title>Business Data Consultoria LTDA - Negócios Inteligentes</title>{% endblock %}
    <link rel="stylesheet" href="/static/styles/bulma/css/main.css">
</head>

<body>
    <header class="hero">
        <div class="hero-head">{% include "menu_dash.html" %}</div>
    </header>
    <div class="hero-head">{% include "dashboard/indicadores.html" %}</div>
    <div class="{% plotly_class name='example' %} card" style="height: 100%; width: 100%">
    {% plotly_app name='example' ratio=0.45 %}
    </div>
</br>

{{ plot1 | safe }}

</body>

</html>

{% endblock %}