{% extends "base.html" %}
{% block content %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-left">
            <div class="columns is-mobile">
                <div id="content">
                    <h1 class="title is-2">Clientes</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>SobreNome</th>
                                <th>Cnpj</th>
                                <th>Celular</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for registerclientes in object_list %}
                            <tr>
                                <th><a href="{% url 'detail' registerclientes.pk %}">{{ registerclientes.nome}}</a></th>
                                <th>{{ registerclientes.sobrenome}}</th>
                                <td>{{ registerclientes.cnpj}}</td>
                                <td>{{ registerclientes.celular}}</td>
                                <td>{{ registerclientes.email}}</td>
                            </tr>
                        </tbody>
                        {% empty %}
                    <li>Clientes não encontrado.</li>
                        {% endfor %}
                    </table>
                    <br>
                    <a  href="{% url 'new' %}"><button class='button is-success'>Novo</button></a>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}