<nav class="site-header sticky-top py-1 navbar navbar-dark bg-primary shadow-sm bg-white rounded">
    <div class="container d-flex flex-col flex-md-row justify-content-between">
        <a class="navbar-brand" href="#">
            <img alt="" class="d-inline-block align-top" height="60" src="/static/imgs/logo.svg" width="60"> Business
            Data Consultoria
        </a>
        <ul class="nav">
            <li class="nav-item">
                <a class="navbar-item">
                    <a class="nav-link" href="{% url 'servicos' %}">Serviço</a>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog' %}">Ajuda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <form class="form-inline">
                <a class="navbar-item" href="/accounts/login">
                    <button class="btn btn-outline-success my-2 my-sm-0"
                            type="submit">Entrar
                </a></button>
            </form>
        </ul>
    </div>
</nav>